.Footer {
  margin: 0 auto;
  width: 930px;
  height: 68px;
  line-height: 68px;
  font-size: 14px;
  color: #5D5E62;
}

.Footer-service-desk {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  color: #5D5E62;
}