.SubsPeriod-section-name {
  margin: 0;
  margin-bottom: 28px;
  font-size: 20px;
}

.SubsPeriod-options {
  padding: 0;
  margin-bottom: 0;
  border: none;
}

.SubsPeriod-option-wrapper {
  display: inline-block;
  vertical-align: top;
  margin: 0 26px 15px 0;
}

.SubsPeriod-input-radio {
  display: none;
}

.SubsPeriod-option {
  position: relative;
  display: inline-block;
  padding-left: 12px;
  padding-top: 12px;
  vertical-align: top;
  width: 188px;
  height: 112px;
  border: 1px dashed #818181;
  cursor: pointer;
}

.SubsPeriod-input-radio:checked + .SubsPeriod-option {
  background-color: #F9DE91;
  border: 1px solid #F9DE91;
}

.SubsPeriod-option:hover {
  background-color: #F9DE91;
}

.SubsPeriod-2y::before,
.SubsPeriod-1y::before,
.SubsPeriod-6m::before {
  position: absolute;
  top: -7px;
  left: 112px;
  content: '';
  width: 80px;
  height: 50px;
}
 .SubsPeriod-2y::before {
   background: url('../images/golden-card.png') no-repeat;
 }

.SubsPeriod-1y::before {
  background: url('../images/silver-card.png') no-repeat;
}

.SubsPeriod-6m::before {
  background: url('../images/green-card.png') no-repeat;
}

.SubsPeriod-option__period {
  font-size: 16px;
}

.SubsPeriod-option__cost-total {
  margin-bottom: 15px;
  font-size: 16px;
  color: #85544D;
}

.SubsPeriod-option__currency-month {
  font-size: 16px;
}

.SubsPeriod-option__cost-per-month {
  font-size: 28px;
}

.SubsPeriod-auto-subs-desc {
  margin: 0;
  margin-bottom: 16px;
  width: 470px;
  font-size: 14px;
  color: #5D5E62;
  line-height: 18px;
}

.SubsPeriod-input-checkbox {
  display: none;
}

.SubsPeriod-auto-subscription {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
  padding-left: 28px;
  font-size: 16px;
  cursor: pointer;
}

.SubsPeriod-auto-subscription::before {
  position: absolute;
  top: 0;
  left: 3px;
  content: '';
  background: url('../images/checkbox-unchecked.png') no-repeat;
  background-size: 90%;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.SubsPeriod-input-checkbox:checked + .SubsPeriod-auto-subscription::before {
  position: absolute;
  top: -6px;
  left: 3px;
  background: url('../images/checkbox-checked.png') no-repeat;
  width: 24px;
  height: 24px;
}

.SubsPeriod-auto-subscription-details {
  margin: 0;
  padding-left: 28px;
  width: 640px;
  color: #5D5E62;
  font-size: 14px;
  line-height: 16px;
}